<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhnchina.demoexcelopt.dao.MybookDao" >
    <select id="getMybookList" resultType="HashMap">
        SELECT
            name,
            price,
            pages
        FROM
            mybook
    </select>
</mapper>
